<!-- botones de ruta para la barra inferior -->
<nav class="navbar">
  <div class="container-fluid justify-content-center">
    <a
      class="nav-link active d-flex flex-column align-items-center"
      aria-current="page"
      href="/inicio/home"
    >
      <ion-icon name="map-outline"></ion-icon>
      Mapa
      <!-- boton de mapa -->
    </a>
    <a
      class="nav-link active d-flex flex-column align-items-center"
      aria-current="page"
      href="/inicio/profile"
      style="margin-left: 3em"
    >
      <ion-icon name="person-outline"></ion-icon>
      Perfil
      <!-- boton perfil -->
    </a>
  </div>
</nav>
