<ion-content fullscreen="true">
  <div class="header">
    <ion-title class="title">Recuperar tu contraseña</ion-title>
  </div>
  <form #form="ngForm" (ngSubmit)="resetPassword()" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input name="email" [(ngModel)]="email" type="email" required email placeholder="Ingresa tu correo electrónico" class="input"></ion-input>
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-item>
      <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']" class="error">
        <ion-text>El correo electrónico es obligatorio</ion-text>
      </div>
      <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']" class="error">
        <ion-text>El correo electrónico debe ser válido</ion-text>
      </div>
    </div>
    <div class="button-container ion-padding">
      <ion-button expand="block" type="submit" class="reset-button" [disabled]="form.invalid">Recuperar</ion-button>
    </div>
  </form>
  <div class="instructions-container ion-padding">
    <ion-text class="instructions-text">Ingresa tu dirección de correo electrónico para poder enviarle una URL para ayudarle a recuperar su contraseña</ion-text>
  </div>
</ion-content>
