<ion-header>
  <ion-toolbar>
    <ion-title>REPORTE DE BASURA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo">
  <div class="container">
    <div class="box">
      <ion-select placeholder="SELECIONE EL TIPO DE BASURA">
        <ion-select-option value="1">RESIDUOS ORGANICO O BIODEGRADABLE</ion-select-option>
        <ion-select-option value="2">RESIDUOS INORGANICOS O NOBIODEGRADABLES</ion-select-option>
        <ion-select-option value="3">RESIDUOS TOXICOS O INFLAMABLES</ion-select-option>
        <ion-select-option value="4">RESIDUOS DE CONTRUCION O DEMOLICIÓN</ion-select-option>
        <ion-select-option value="5">RESIDUOS RECICLABLES</ion-select-option>
      </ion-select>
    </div>

    <div class="box">
      <ion-item>
        <ion-label position="floating">INGRESAR UBICACIÓN</ion-label>
        <ion-input id="ubicacion" placeholder="Escriba Inserte Ubicacion"></ion-input>
        <ion-button fill="clear" slot="end" id="obtenerUbicacion">
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating">IMAGEN DEL BASURAL</ion-label>
        <ion-input id="imagen" placeholder="Inserte una Fotografia"></ion-input>
        <ion-button fill="clear" slot="end" (click)="takePhoto()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>

    <div class="box">
      <ion-item>
        <ion-label position="floating">DETALLES ADICIONALES</ion-label>
        <ion-textarea id="detalles" placeholder="DESCRIBA DETALLES QUE AYUDEN EN EL REPORTE"></ion-textarea>
      </ion-item>
    </div>

    <ion-button expand="full">ENVIAR</ion-button>
  </div>
</ion-content>