<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="boton_retroceder" slot="start">
      <ion-back-button defaultHref="/inicio/map"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let report of reports">
      <ion-icon [name]="getIcon(report.module)" slot="start"></ion-icon>
      <ion-label>
        <h2>Modulo de Reporte: {{ report.module }}</h2>
        <p *ngIf="hasTypeIncident(report)">
          Tipo de Reporte: {{ report.typeIncident }}
        </p>
      </ion-label>
      <p slot="end">{{ report.date | date:'EEE, HH:mm' }}</p>
    </ion-item>
  </ion-list>
</ion-content>
