// Este es tu archivo notificaciones.component.scss

// Estilo para el título
.center-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: black;
    width: 100%;
  }

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  ion-buttons {
    position: absolute;
    left: 0;
  }
}

// notificaciones.page.scss

.icon-incendio {
  background-color: #D10000; // Rojo para incendios
  color: black;
  border-radius: 50%; // Para que el fondo sea redondo
  padding: 10px; // Ajusta el padding según sea necesario
}

.icon-accidente-vehicular {
  background-color: #D16C00; // Naranja para accidentes vehiculares
  color: black;
  border-radius: 50%;
  padding: 10px;
}

.icon-alumbrado {
  background-color: #EACF1B; // Amarillo para alumbrado
  color: black;
  border-radius: 50%;
  padding: 10px;
}

.icon-basura {
  background-color: #20A002; // Verde para basura
  color: black;
  border-radius: 50%;
  padding: 10px;
}






 