// Este es tu archivo notificaciones.component.scss

// Estilo para el título
ion-title {
    text-align: center; // Centra el texto horizontalmente
    font-size: 24px; // Cambia el tamaño de la fuente
    color: #000; // Cambia el color del texto
  }
  