<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Notificación individual -->
    <ion-item>
      <ion-icon name="flame-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Titulo de Prueba</h2>
        <p>Tipo de Reporte</p>
      </ion-label>
      <p slot="end">13:12</p>
    </ion-item>
    <!-- Puedes duplicar el bloque de notificación para agregar más notificaciones -->
  </ion-list>
</ion-content>
