
    <button class="btn btn-danger position-absolute start-50 translate-middle-x" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" style="bottom: 7em">
      <!-- boton de emergencia en el mapa con .css de boostrap y clases de boostrap -->
      REPORTAR UNA EMERGENCIA
    </button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <!-- desplegable de boostrap -->
      <div class="offcanvas-header">
        <h5 class="offcanvas-title lead" id="offcanvasBottomLabel">
          <strong>
            Modulos de Emergencia
            <!-- boton descriptivo -->
          </strong>
        </h5>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        ></button>
      </div>
      <hr>
      
      <div style="margin-left: 2.5em">
        <!-- Seleccion de modulos -->
      <div class="offcanvas-body small">

        <div class="ion-page" #page>
          <ion-content class="ion-padding">
            <ion-button id="open-modal" expand="block">Modulo Incendios</ion-button>
            <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="page">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Reporte de Incendios</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-content>
        </div>
      </div>
    </div>