ion-content {
  .header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .input {
    --padding-start: 10px;
    --padding-end: 40px;
  }

  ion-input {
    --padding-start: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
  }

  ion-icon {
    position: absolute;
    right: 10px;
  }

  .button-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .instructions-container {
    text-align: center;
    font-size: 0.8rem;
  }

  .error {
    color: var(--ion-color-danger);
    font-size: 0.8rem;
    padding: 10px;
    border: 1px solid var(--ion-color-danger);
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
