ion-content {
  --background: none;
  background: #28429f;
}

p {
  color: white;
}
h1 {
  color: white;
}
ion-button {
  margin-top: 20px;
  --background: #5271ff;
  --border-radius: 20px !important;
  box-shadow: white;
  --padding-start: 20px; /* Opcional: cambia el relleno izquierdo del botón */
  --padding-end: 20px;
}

ion-button {
  --background: #5271ff;
}
