<ion-content [fullscreen]="true">
  <!-- Configuración del encabezado -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapa</title>
  </head>
  <body>
    <!-- Contenedor del mapa -->
    <div id="map" class="map"></div>

    <!-- Componente de filtros -->
    <app-filtros [reportIcons]="reportIcons"></app-filtros>

    <!-- Tooltip para los marcadores -->
    <div id="tooltip" class="ol-tooltip"></div>
    <!-- Componente de botones -->
    <app-botones></app-botones>
  </body>
</ion-content>

<!-- Pestañas de navegación -->
<app-tabs style="z-index: 1"></app-tabs>
