<div class="content-center">
  <ion-content [fullscreen]="true">
    <!--Titulo de la Layout-->
    <ion-header collapse="condense"></ion-header>
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <ion-buttons class="boton_1" slot="start">
        <ion-back-button
          defaultHref="/inicio/modulo-alumbrado"
        ></ion-back-button>
      </ion-buttons>
      <h1 class="title_2" style="text-align: center">Formulario</h1>
      <div></div>
    </div>

    <div class="formulario">
      <!--Lista seleccionable del titulo-->
      <ion-list class="lista">
        <ion-item>
          <ion-select
            label="Selecciona el Titulo"
            name="typeIncident"
            [(ngModel)]="formAlumbrado.typeIncident"
            labelPlacement="floating"
          >
            <ion-select-option value="Corte de Luz"
              >Corte de Luz</ion-select-option
            >
            <ion-select-option value="Daño de Infraestructura">
              Daño de Infraestructura
            </ion-select-option>
          </ion-select>
        </ion-item>
        <!--Descripcion del Reporte-->
        <ion-item>
          <ion-textarea
            label="Descripción"
            labelPlacement="floating"
            placeholder="Escribenos tus comentarios sobre el reporte"
            rows="4"
            name="description"
            [counter]="true"
            maxlength="200"
            [(ngModel)]="formAlumbrado.description"
          ></ion-textarea>
        </ion-item>

        <!--Botón para tomar la foto-->
        <ion-button expand="full" (click)="takePhoto()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
          Tomar Foto</ion-button
        >
        <!--Apartado para vizualizar la foto seleccionada-->
        <ion-item *ngIf="formAlumbrado.photo">
          <ion-img
            [src]="formAlumbrado.photo"
            style="width: 300px; height: 300px"
          ></ion-img>
        </ion-item>
        <!--Boton para tomar la ubicacion-->
        <ion-button expand="full" (click)="goToLocationPage()"
          >Ingresar Ubicación
          <ion-icon slot="icon-only" name="location"></ion-icon>
        </ion-button>
        <!--Boton Enviar los datos del formulario (de momento de forma local)-->
        <ion-button expand="full" (click)="validateForm()"
          >Enviar
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-list>

      <!--Lista con los campos obligatorios antes de darle a enviar-->
      <div *ngIf="errorsMessages" class="error-message">
        <ul>
          <li *ngFor="let error of errorsMessages">{{ error }}</li>
        </ul>
      </div>
    </div>
  </ion-content>
</div>
