<div class="app-container">
  <div class="form-container flex: 1">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <ion-buttons class="boton_retroceder" slot="start">
        <ion-back-button defaultHref="/inicio/modulo-alumbrado"></ion-back-button>
      </ion-buttons>
      <h1 class="Titulo_Reporte" style="text-align: center">Formulario de Alumbrado</h1>
    </div>
    <form>
      <label class="my-label">Tipo de Incidente</label>
      <ion-select class="input" placeholder="Seleccione el tipo de incidente" name="typeIncident"
        [(ngModel)]="formAlumbrado.typeIncident">
        <ion-select-option value="corteLuz">Corte de Luz</ion-select-option>
        <ion-select-option value="danoInfra">Daño de Infraestructura</ion-select-option>
      </ion-select>
      <label class="my-label">Ubicación</label>
      <ion-button class="input_boton" expand="full" (click)="goToLocationPage()">
        <ion-icon size="large" name="location"></ion-icon>
      </ion-button>
      <p *ngIf="locationSaved" class="confirmacion_campo">Su ubicación fue guardada con éxito</p>
      <div class="textarea-container">
        <label class="my-label">Descripción</label>
        <textarea id="area_descripcion" class="area_descripcion" required (input)="updateCount()" maxlength="200"
          name="description" [(ngModel)]="formAlumbrado.description"></textarea>
        <div id="charCount" class="char-counter">0 / 200</div>
      </div>
      <label class="my-label">Imagen</label>
      <ion-button class="input_boton" expand="full" (click)="takePhoto()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <p *ngIf="photoTaken" class="confirmacion_campo">La foto fue guardada con éxito</p>
      <!--Apartado para vizualizar la foto seleccionada-->
      <div *ngIf="formAlumbrado.photo">
        <ion-img [src]="formAlumbrado.photo" class="adj_foto"></ion-img>
      </div>
      <ion-button expand="full" (click)="validateForm()">Enviar</ion-button>
    </form>
  </div>
</div>