<ion-content fullscreen="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p>Inicia sesión para acceder a tu cuenta</p>
  </div>
  <form [formGroup]="loginForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="Usuario" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors['required']">
        <ion-text>El correo electrónico es obligatorio</ion-text>
      </div>
      <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors['pattern']">
        <ion-text>El correo electrónico debe ser válido</ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="Contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors['required']">
        <ion-text>La contraseña es obligatoria</ion-text>
      </div>
      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors['pattern']">
        <ion-text>
          La contraseña debe contener:
          - Al menos un carácter
          - Una letra mayúscula
          - Un número
          - Al menos 8 caracteres
        </ion-text>
      </div>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" (click)="login()">Ingresar</ion-button>
    </div>
    <div class="forgotpassword" style="margin-top: 10px;">
      <a [routerLink]="['/reset-password']">Recuperar contraseña</a>
    </div>
    <div class="signupLink" style="margin-top: 10px;">
      <p>¿Nuevo miembro? <a [routerLink]="['/signup']">Regístrate ahora</a></p>
    </div>
  </form>
</ion-content>
