<div class="app-container">
  <div class="form-container">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <ion-buttons class="boton_retroceder" slot="start">
        <ion-back-button defaultHref="/inicio/home"></ion-back-button>
      </ion-buttons>
      <h1 class="Titulo_Reporte" style="text-align: center">Reporte de Incendio</h1>
    </div>
    <form>
      <!--===========Tipo de Incendio===========-->
      <label class="my-label">Tipo de Incendio</label>
      <ion-select class="input" placeholder="Seleccione el tipo de incendio" name="typeIncident"
        [(ngModel)]="formIncendio.typeIncident">
        <ion-select-option value="1">Doméstico</ion-select-option>
        <ion-select-option value="2">Departamento</ion-select-option>
        <ion-select-option value="3">Forestal</ion-select-option>
      </ion-select>

      <!--=========== Ubicación ===========-->
      <label class="my-label">Ubicación</label>
      <ion-button (click)="goToLocationPage()" class="input_boton" expand="full" required>
        <ion-icon size="large" name="location"></ion-icon>
      </ion-button>
      <p *ngIf="locationSaved" class="confirmacion_campo">Su ubicación fue guardada con éxito</p>

      <!--=========== Información Adicional ===========-->
      <label class="my-label">Conoce un grifo cercano?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="glifoCercano" id="glifoSi"
          [(ngModel)]="formIncendio.knowsGrifo" [value]="true" />
        <label class="form-check-label" for="glifoSi">Sí, conozco un grifo cercano</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="glifoCercano" id="glifoNo"
          [(ngModel)]="formIncendio.knowsGrifo" [value]="false" />
        <label class="form-check-label" for="glifoNo">No, desconozco grifos cercanos</label>
      </div>

      <div class="textarea-container" *ngIf="formIncendio.knowsGrifo">
        <label class="my-label">Localización del Grifo Cercano</label>
        <textarea
          id="area_grifo"
          class="area_descripcion"
          required
          name="descriptionGrifo"
          (input)="updateCount()"
          maxlength="200"
          [(ngModel)]="formIncendio.descriptionGrifo"
        ></textarea>
        <div id="charCountGrifo" class="char-counter">0 / 200</div>
      </div>
      
      <!--=========== Detalles Adicionales ===========-->
      <div class="textarea-container">
        <label class="my-label">Detalles Adicionales</label>
        <textarea
          id="area_detalles"
          class="area_descripcion"
          required
          name="description"
          (input)="updateCount()"
          maxlength="200"
          [(ngModel)]="formIncendio.description"
        ></textarea>
        <div id="charCountDetalles" class="char-counter">0 / 200</div>
      </div>
      <!--=========== Foto ===========-->
      <label class="my-label">Imagen (Opcional)</label>
      <ion-button class="input_boton" expand="full" (click)="takePhoto()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <p *ngIf="photoTaken" class="confirmacion_campo">La foto fue guardada con éxito</p>
      <ion-item *ngIf="formIncendio.photo">
        <ion-img size="large" name="camera-outline" [src]="formIncendio.photo" class="adj_foto"></ion-img>
      </ion-item>

      <ion-button expand="full" type="submit" (click)="isFormValid()">
        ENVIAR REPORTE
      </ion-button>
    </form>
    <div class="container mt-5">
      <div class="card mb-3">
        <div class="card-body text-center">
          <div>
            <strong>Recuerde que el reporte llegará</strong>
          </div>
          <div>
            <strong>directamente a bomberos</strong>
          </div>
          <div>
            <strong>Solo de ser necesario llame a </strong>
          </div>
          <a href="tel:132" class="btn btn-warning d-flex align-items-center justify-content-center">
            <i class="bi bi-telephone-fill me-2"></i>
            <strong>Número de Bomberos</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>