.fondo {
    //se usa el -- para modificar un componente de ionic y no sobreponerlo
    --background: rgb(246, 63, 63);
}
.icon {
    width: auto; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
  }
