<div class="app-container">
  <div class="form-container">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <ion-buttons class="boton_retroceder" slot="start">
        <ion-back-button defaultHref="/inicio/home"></ion-back-button>
      </ion-buttons>
      <h1 class="Titulo_Reporte" style="text-align: center">Reporte de Incendio</h1>
    </div>
    <form>
      <label class="my-label">Tipo de Incendio</label>
      <ion-select class="input" placeholder="Seleccione el tipo de incendio" name="typeIncident" [(ngModel)]="formIncendio.typeIncident">
        <ion-select-option value="1">Domestico</ion-select-option>
        <ion-select-option value="2">Departamento</ion-select-option>
        <ion-select-option value="3">Forestal</ion-select-option>
      </ion-select>

      <label class="my-label">Ubicación</label>
      <ion-button class="input_boton" expand="full" (click)="goToLocationPage()">
        <ion-icon size="large" name="location"></ion-icon>
      </ion-button>
      <p *ngIf="locationSaved" class="confirmacion_campo">Su ubicación fue guardada con éxito</p>

      <h1 class="text-decoration-underline">Información Adicional</h1>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="glifoCercano" id="glifoSi" [(ngModel)]="formIncendio.knowsGrifo" [value]="true">
        <label class="form-check-label" for="glifoSi">Si, conozco un grifo cercano</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="glifoCercano" id="glifoNo" [(ngModel)]="formIncendio.knowsGrifo" [value]="false">
        <label class="form-check-label" for="glifoNo">No, desconozco grifos cercanos</label>
      </div>

      <div class="textarea-container" *ngIf="formIncendio.knowsGrifo">
        <label class="my-label">Localización del Grifo Cercano</label>
        <textarea id="grifoUbicacion" class="area_descripcion" required (input)="updateCount()" maxlength="200" name="descriptionGrifo" [(ngModel)]="formIncendio.descriptionGrifo"></textarea>
        <div id="charCount" class="char-counter">0 / 200</div>
      </div>

      <div class="textarea-container">
        <label class="my-label">Detalles</label>
        <textarea id="detalles" class="area_descripcion" required (input)="updateCount()" maxlength="200"name="description" [(ngModel)]="formIncendio.description"></textarea>
        <div id="charCount" class="char-counter">0 / 200</div>
      </div>
      <label class="my-label">Imagen</label>
      <ion-button class="input_boton" expand="full" (click)="takePhoto()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <p *ngIf="photoTaken" class="confirmacion_campo">La foto fue guardada con éxito</p>
      <!--Apartado para vizualizar la foto seleccionada-->
      <div *ngIf="formIncendio.photo">
        <ion-img [src]="formIncendio.photo" class="adj_foto"></ion-img>
      </div>
      <ion-button expand="full" (click)="validateForm()">Enviar Reporte</ion-button>
    </form>
  </div>
</div>