<div class="app-container">
  <div class="form-container">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <ion-buttons class="boton_1" slot="start">
        <ion-back-button defaultHref="/inicio/home"></ion-back-button>
      </ion-buttons>
      <h1 class="Titulo_1" style="text-align: center">
        Realiza Tu Reporte!
      </h1>
    </div>
    <form>
      <!--===========Tipo de Reporte===========-->
      <label class="my-label">Tipo de Reporte</label>
      <ion-select class="input" required style="direction: rtl">
        <ion-select-option value="accidente"
          >Accidente vehicular</ion-select-option
        >
        <ion-select-option value="congestion"
          >Congestión vehicular</ion-select-option
        >
      </ion-select>

      <!--=========== Ubicación ===========-->
      <!-- Momentaneamente redirige al mapa --> 
      <label class="my-label">Inserte su Ubicación</label>
      <ion-button href="/inicio/home" class="input_boton" expand="full" required>
        <ion-icon size="large" name="location"></ion-icon>
      </ion-button>
      <!--===========Descripcion===========-->
      <div class="textarea-container">
        <label class="my-label">Detalles que podrian ser de ayuda</label>
        <textarea
          id="area_descripcion"
          class="area_descripcion"
          required
          (input)="updateCount()"
          maxlength="200"
        ></textarea>
        <div id="charCount" class="char-counter">0 / 200</div>
      </div>

      <!--=========== Foto ===========-->
      <label class="my-label">Imagen del Suceso (Opcional)</label>
      <ion-button class="input_boton" expand="full" (click)="takePhoto()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <!--Apartado para vizualizar la foto seleccionada-->
      <ion-item *ngIf="photo">
        <ion-icon size="large" name="camera-outline" [src]="photo"></ion-icon>
      </ion-item>


      <ion-button expand="full" type="submit">REPORTAR</ion-button>
    </form>
  </div>
</div>
