<div class="app-container">
  <div class="form-container">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <ion-buttons class="boton_retroceder" slot="start">
        <ion-back-button defaultHref="/inicio/home"></ion-back-button>
      </ion-buttons>
      <h1 class="Titulo_Reporte" style="text-align: center">Reporte de Accidente Vehicular</h1>
    </div>
    <form>
      <!--===========Tipo de Reporte===========-->
      <label class="my-label">Tipo de Reporte</label>
      <ion-select
        class="input"
        placeholder="Seleccione el tipo de reporte"
        name="typeIncident"
        [(ngModel)]="formVehicular.typeIncident"
      >
        <ion-select-option value="accidente">
          Accidente vehicular
        </ion-select-option>
        <ion-select-option value="congestion">
          Congestión vehicular
        </ion-select-option>
      </ion-select>

      <!--=========== Ubicación ===========-->
      <!-- Momentaneamente redirige al mapa -->
      <label class="my-label">Ubicación</label>
      <ion-button
        (click)="goToLocationPage()"
        class="input_boton"
        expand="full"
        required
      >
        <ion-icon size="large" name="location"></ion-icon>
      </ion-button>
      <p *ngIf="locationSaved" class="confirmacion_campo">Su ubicación fue guardada con éxito</p>

      <!--===========Descripcion===========-->
      <div class="textarea-container">
        <label class="my-label">Detalles</label>
        <textarea
          id="area_descripcion"
          class="area_descripcion"
          required
          (input)="updateCount()"
          maxlength="200"
          name="description"
          [(ngModel)]="formVehicular.description"
        ></textarea>
        <div id="charCount" class="char-counter">0 / 200</div>
      </div>

      <!--=========== Foto ===========-->
      <label class="my-label">Imagen (Opcional)</label>
      <ion-button class="input_boton" expand="full" (click)="takePhoto()">
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
      <p *ngIf="photoTaken" class="confirmacion_campo">La foto fue guardada con exito</p>
      <!--Apartado para vizualizar la foto seleccionada-->
      <ion-item *ngIf="formVehicular.photo">
        <ion-img
          size="large"
          name="camera-outline"
          [src]="formVehicular.photo"
          class="adj_foto" 
        ></ion-img>
      </ion-item>

      <ion-button expand="full" type="submit" (click)="validateForm()">
        Enviar
      </ion-button>
    </form>
  </div>
</div>
