.selected-button {
    border-radius: 50%; /* Hace que el botón sea circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px rgba(254, 0, 0, 0.7); /* Añade una aureola ( sombra ) alrededor del botón */
  }
  