<ion-fab
  slot="fixed"
  vertical="top"
  horizontal="end"
  [edge]="true"
  style="margin-top: 5em"
>
  <ion-fab-button>
    <ion-icon name="chevron-down-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button Class="selected-button5" (click)="toggleAllFilters()">
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>

    <ion-fab-button
      [ngClass]="{ 'selected-button1': filters['Incendios'] }"
      (click)="filterReports('Incendios')"
    >
      <img src="assets/icon/fuego.png" class="icon" />
    </ion-fab-button>
    <ion-fab-button
      [ngClass]="{ 'selected-button2': filters['Alumbrado'] }"
      (click)="filterReports('Alumbrado')"
    >
      <img src="assets/icon/poste.png" class="icon" />
    </ion-fab-button>
    <ion-fab-button
      [ngClass]="{ 'selected-button3': filters['Accidente Vehicular'] }"
      (click)="filterReports('Accidente Vehicular')"
    >
      <img src="assets/icon/coche.png" class="icon" />
    </ion-fab-button>
    <ion-fab-button
      [ngClass]="{ 'selected-button4': filters['Basura'] }"
      (click)="filterReports('Basura')"
    >
      <img src="assets/icon/basu.png" class="icon" />
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
