@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format('truetype');
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #28429F;
}

.boton_1{
  color: white;
}


.title_2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}



.edit-button {
  --background: transparent;
  --color: #fff; /* Cambia el color del icono a blanco */
}

:root {
  --ion-item-background: #f0f0f0;
}

/* En tu archivo usuario.page.scss */

.custom-item {
  --background: white; /* Cambia este valor al color que prefieras */
  margin-top: 5px;
  padding: 5px;
}
